Exploratory Data Analysis: Vehicles Dataset

This notebook explores trends and patterns in a dataset containing information about vehicles for sale.
The dataset includes details sauch as price, model year, condition and other features.

Goals of the project:
- Understand the distribution of vehicles prices and other key attributes.
- Identify patterns related to vehicle condition, type and other factors.
- Provide actionable insights for further analysis or decision making.

In [27]:
# Importing Libraries
import pandas as pd
import numpy as np

#!pip install plotly
import plotly.io as pio
pio.renderers.default = "notebook"  # Or use "iframe" if "notebook" doesn't work

In [9]:
import plotly.express as px
import pandas as pd

In [28]:
# Loading Datasets
df = pd.read_csv('../vehicles_us.csv')

# Displaying the first 5 rows of the Datasets
display(df.head())

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [30]:
# checking for missing values
df.isnull().sum()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [32]:
# filling missing values in the dataset with median
df['model_year'] = df['model_year'].fillna(df.groupby('model')['model_year'].transform('median'))
df['odometer'] = df['odometer'].fillna(df.groupby(['model', 'model_year'])['odometer'].transform('median')).fillna(df['odometer'].median())
df['model_year'] = df['model_year'].fillna(df.groupby('model')['model_year'].transform('median'))
df['paint_color'] = df['paint_color'].fillna('No info')
df['cylinders'] = df['cylinders'].fillna(df.groupby('model')['cylinders'].transform('median'))

df['is_4wd'] = df['is_4wd'].fillna(0)

display(df.head())

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,No info,1.0,2018-06-23,19
1,25500,2011.0,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,177500.0,automatic,pickup,No info,0.0,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28

In [33]:
# filling in missing values in model year with median
median_value = df['model_year'].median()  
df['model_year'] = df['model_year'].fillna(median_value)

In [34]:
df['model_year'] = df['model_year'].fillna(median_value)

In [ ]:
# converting datatype from float to int in the model_year column
df['model_year'] = df['model_year'].astype(int)

In [ ]:
# displaying the datasets
display(df)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011,bmw x5,good,6.0,gas,145000.0,automatic,SUV,No info,1.0,2018-06-23,19
1,25500,2011,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79
3,1500,2003,ford f-150,fair,8.0,gas,177500.0,automatic,pickup,No info,0.0,2019-03-22,9
4,14900,2017,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,0.0,2018-10-03,37
51521,2700,2002,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,0.0,2018-11-14,22
51522,3950,2009,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,0.0,2018-11-15,32
51523,7455,2013,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,0.0,2018-07-02,71
51524,6300,2014,nissan altima,good,4.0,gas,99253.0,automatic,sedan,No info,0.0,2018-06-05,10

In [35]:
# Checking for missing values.
df.isnull().sum()

price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
dtype: int64

In [36]:
# checking for duplicates
df.duplicated().sum() #checking for duplicated values.

0

In [37]:
# assigning unique values in model to customer choice
customer_choice = df['model'].unique()

In [38]:
#importing library
import streamlit as st

# creating select box for customers to choose your model
select_menu = st.selectbox('Please select your choice of Vehicle', customer_choice)

In [39]:
# filtering the datasets after customer's select their model of vehicle
df_filtered = df[df['model'] == select_menu]

In [40]:
# checking for minimum and maximum year of the model and converting it to an int datatype   
minimum_year, maximum_year  = int(df['model_year'].min()), int(df['model_year'].max())

In [41]:
# creating a slider for the year range between minimum and maximum year
year_range = st.slider('choose year', value=(minimum_year, maximum_year), min_value=minimum_year,max_value=maximum_year)

In [42]:
# list of actual year range
actual_range = list(range(year_range[0], year_range[1]+1))

In [ ]:
# filtering of dataset after custormer's model year preference 
df_filtered = df[(df['model'] == select_menu) & (df.model_year.isin(list(actual_range)))]

In [43]:
#importing library
import plotly.express as px

In [ ]:
# function to calculate the age of model and adding the age column to dataset
def age_category(x):
    if x<5: return '<5'
    elif x>=5 and x<10: return '5-10'
    elif x>=10 and x<20: return '10-20'
    else: return '>20'
df['age'] = 2024 - df['model_year']

# applying the function 
df['age_category'] = df['age'].apply(age_category)

# Mulivariate Analysis
scatter_chart = ['cylinders','type','odometer']

choice_for_scatter = st.selectbox('Price dependency on', scatter_chart)

fig2 = px.scatter(df, x="price", color="age_category", hover_data=['model_year'])
fig2.update_layout(title=f"<b> Split of price by {choice_for_scatter}</b>")

st.plotly_chart(fig2)

DeltaGenerator()


### Key Insights:
- The majority of vehicles are priced under a certain range (to be identified during analysis).
- There is a noticeable correlation between odometer readings and price, indicating older vehicles are cheaper.
- Most vehicles in the dataset are not 4WD.
"""

# Conclusion
"""
### Conclusion:
This EDA has revealed trends and patterns in vehicle pricing and attributes. Next steps include:
- Further analysis of specific vehicle types or conditions.
- Exploring external factors that may influence pricing.
"""